<!DOCTYPE html>
<html>
<head>
  <title>Salonica</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <li><%= link_to('Home', root_path) %></li>
    <li><%= link_to('Salons', salons_path) %></li>
    <li><%= link_to('Services', services_path) %></li>
    <li>|</li>
    <li><%= link_to('New Salon', new_salon_path) %></li>
    <li><%= link_to('New Service', new_service_path) %></li>
  </ul>
</nav>

<div class="container">
<%= yield %>
</div>

</body>
</html>
